body{
    margin: 0;
    padding: 0;
    top: 0;
}
h1{
    margin: 0;
}
header{
    border-radius: 50px;
    background-color: rgba(7, 178, 230, 0.3);
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    display: grid;
    color: rgb(46, 9, 211);
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;
    box-shadow: 3px 2px 5px black;
}
body{
    background-image: linear-gradient(to right, rgb(247, 234, 211), white);;
}
.casa{
    width: 80px;
    left: 1000px;
}
.antes{
    justify-content: space-between;
    padding-left: 30px;
}
button{
    border: 0;
    border-radius: 10px;
    height: 30px;
    background-color: rgb(148, 0, 211,0.5);
    color: white;
    width: 130px;
    
}
#foto-familia{
    width: 400px;
    border-radius: 10px;
    margin: 0 10%;
}
#introducao{
    display: flex;
    align-items: center;
}
.paragrafo-texto{
    width: 400px;
    text-align: center;
    background-color: rgba(153, 50, 204, 0.6);
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 20px;
}
.paragrafo-texto h1{
    color: deepskyblue;
    font-weight: bolder;
}
.paragrafo-texto p{
    font-weight: bold;
}
.dec{
    width: 500px;
    text-align: center;
    background-color: darkorchid;
    margin: 0 auto;
    border-radius: 20px;
    padding-top: 10px;
}
.dec h2{
    color: deepskyblue;
    font-weight: bolder;
}
.dec p{
    font-weight: bold;
}
hr{
    border: 2px solid black;
}
#lugares{
    display: flex;
}
.lugar{
    width: 50%;
}
