body{
    margin: 0;
    top: 0;
    padding: 0;
    background-color: blue;
}
header{
    display: flex;
    background-color: black;
    height: 100px;
    color: lightgray;
    text-align: center;
}
.logo{
    width: 90px;
    height: 90px;
}
#mv{
    text-align: center;
    background-color: lightskyblue;
    width: 300px;
    border-radius: 100px;
    margin: 0 auto;
    padding: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px black;
}
#rc{
    text-align: center;
    background-color: lightskyblue;
    width: 300px;
    border-radius: 100px;
    margin: 0 auto;
    padding: 3px;
    margin-top: 200px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px black;
}
.visto{
    display: flex;
    justify-content: space-around;
}
.filme{
    background-color: cornflowerblue;
    width: 250px;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 15px black;
}
#tb{
    margin: 0 auto;
    margin-bottom: 50px;
}
.img{
    height: 280px;
    width: 180px;
    overflow: hidden;
}
.filme img{
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.filme:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.2);
}

.filme:hover p{
    margin-top: -5px;
    transition: 0.3s;
}

.tudo{
    display: flex;
}
.im{
    margin-top: 80px;
    width: 250px;
    margin-left: 50px;
}
.g{
    height: 500px;
    border-right: solid black 1px;
    width: 330px;
}
.sin{
    width: 700px;
    margin: 0 auto;
    color: yellow;
    font-size: larger;
}
h1{
    align-self: center;
    text-align: center;
    width: 100%;
}
a{
    margin: 0;
    padding: 0;
}